@import '../variables/iphone_x';

.vpnp-iphone_x {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: sans-serif;

    .vpnp-content {
        width: $vnpn-iphone_x-content-width;
        height: $vnpn-iphone_x-content-height;

        .vpnp-header {
            width: $vnpn-iphone_x-header-width;
            height: $vnpn-iphone_x-header-height;
        }

        .vpnp-notification {
            display: flex;
            flex-direction: column;

            min-height: $vnpn-iphone_x-notification-min-height;
            height: auto;

            padding: $vnpn-iphone_x-notification-padding;
            border-radius: $vnpn-iphone_x-notification-border-radius;
            background-color: $vnpn-iphone_x-notification-background-color;

            .vpnp-notification-heading {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                font-size: $vnpn-iphone_x-notification-heading-font-size;
                color: $vnpn-iphone_x-notification-heading-color;

                .vpnp-notification-heading-icon-name-container {
                    display: flex;
                    align-items: center;
                    width: 80%;

                    .vpnp-notification-application-icon {
                        margin: 0;

                        width: $vnpn-iphone_x-notification-application-icon-width;
                        height: $vnpn-iphone_x-notification-application-icon-height;

                        background-color: $vnpn-iphone_x-notification-application-icon-background-color;
                        border-radius: $vnpn-iphone_x-notification-application-icon-border-radius;
                    }

                    .vpnp-notification-application-name {
                        margin: 0 0 0 5px;
                        width: inherit;

                        font-size: $vnpn-iphone_x-notification-application-name-font-size;
                        color: $vnpn-iphone_x-notification-application-name-color;

                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-transform: uppercase;
                    }
                }

                .vpnp-notification-time {
                    margin: 0;

                    font-size: $vnpn-iphone_x-notification-time-font-size;
                    color: $vnpn-iphone_x-notification-time-color;
                }
            }

            .vpnp-notification-content {
                font-size: $vnpn-iphone_x-notification-content-font-size;
                color: $vnpn-iphone_x-notification-content-color;
                margin-top: 5px;

                .vpnp-notification-title {
                    display: flex;
                    margin: 0;

                    font-size: $vnpn-iphone_x-notification-title-font-size;
                    color: $vnpn-iphone_x-notification-title-color;
                }

                .vpnp-notification-body {
                    margin: 0;

                    font-size: $vnpn-iphone_x-notification-body-font-size;
                    color: $vnpn-iphone_x-notification-body-color;
                }
            }

            &.vpnp-notification-dark-mode {
                background-color: $vnpn-iphone_x-notification-dark-mode-color;

                .vpnp-notification-heading {
                    color: $vnpn-iphone_x-notification-dark-mode-heading-color;

                    .vpnp-notification-heading-icon-name-container {

                        .vpnp-notification-application-icon {
                            background-color: $vnpn-iphone_x-notification-dark-mode-application-icon-background-color;
                        }

                        .vpnp-notification-application-name {
                            color: $vnpn-iphone_x-notification-dark-mode-application-name-color;
                        }
                    }
                }

                .vpnp-notification-content {
                    color: $vnpn-iphone_x-notification-dark-mode-content-color;

                    .vpnp-title {
                        color: $vnpn-iphone_x-notification-dark-mode-title-color;
                    }

                    .vpnp-body {
                        color: $vnpn-iphone_x-notification-dark-mode-body-color;
                    }
                }
            }

            &.vpnp-notification-expanded-mode {
                .vpnp-notification-content {
                    .vpnp-notification-title {
                        font-weight: $vnpn-iphone_x-notification-expanded-mode-title-font-weight;
                    }

                    .vpnp-notification-body {
                        display: -webkit-box;
                        -webkit-line-clamp: $vnpn-iphone_x-notification-expanded-mode-body-line-clamp;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
