@import '../variables';

@font-face {
    font-family: 'Product Sans Regular';
    src: url("../../../public/font/ProductSans-Regular.woff") format("opentype");
}

.pixel_4 {
    font-family: 'Product Sans Regular', sans-serif;

    .notification {
        position: absolute;
        top: 52%;
        left: 5.5%;

        width: 79%;
        min-height: 15px;
        height: auto;

        padding: 15px;
        border-radius: 5px;
        background-color: $white;

        .heading {
            display: flex;
            align-items: center;

            font-size: 12px;
            color: #565656;

            .application-icon {
                width: 15px;
                height: 15px;

                background-color: $black;
                border-radius: 50%;
            }

            .application-name {
                margin-left: 10px;
            }

            .application-time-container {
                margin-left: 10px;

                .application-time-separator {
                    font-weight: bold;
                }

                .application-time {
                    margin-left: 10px;
                }
            }
        }

        .content {
            color: $black;
            font-size: 13px;
            margin-top: 10px;

            .title {
                display: flex;
            }
        }

        &.light-mode {
            &.expanded-mode {
                .content {
                    color: #3b3b3b;

                    .title {
                        font-weight: bold;
                    }

                    .body {
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
            }
        }

        &.dark-mode {
            background-color: $black;

            .heading {
                color: $white;

                .application-icon {
                    background-color: $white;
                }
            }

            .content {
                color: $white;
            }

            &.expanded-mode {
                .content {
                    .title {
                        font-weight: bold;
                    }

                    .body {
                        color: #e6e6e6;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
            }
        }


    }
}
