@import '../variables/pixel_4';

.vpnp-pixel_4 {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: sans-serif;

    .vpnp-content {
        width: $vnpn-pixel_4-content-width;
        height: $vnpn-pixel_4-content-height;

        .vpnp-header {
            width: $vnpn-pixel_4-header-width;
            height: $vnpn-pixel_4-header-height;
        }

        .vpnp-notification {
            display: flex;
            flex-direction: column;

            min-height: $vnpn-pixel_4-notification-min-height;
            height: auto;

            padding: $vnpn-pixel_4-notification-padding;
            border-radius: $vnpn-pixel_4-notification-border-radius;
            background-color: $vnpn-pixel_4-notification-background-color;

            .vpnp-notification-heading {
                display: flex;
                flex-direction: row;
                align-items: center;

                font-size: $vnpn-pixel_4-notification-heading-font-size;
                color: $vnpn-pixel_4-notification-heading-color;

                .vpnp-notification-application-icon {
                    margin: 0;
                    width: $vnpn-pixel_4-notification-application-icon-width;
                    height: $vnpn-pixel_4-notification-application-icon-height;

                    background-color: $vnpn-pixel_4-notification-application-icon-background-color;
                    border-radius: $vnpn-pixel_4-notification-application-icon-border-radius;
                }

                .vpnp-notification-application-name {
                    max-width: 70%;
                    margin: 0 0 0 10px;

                    font-size: $vnpn-pixel_4-notification-application-name-font-size;
                    color: $vnpn-pixel_4-notification-application-name-color;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .vpnp-notification-application-time-container {
                    margin: 0 0 0 10px;

                    .vpnp-notification-application-time-separator {
                        margin: 0;
                        display: inline;

                        font-weight: bold;
                    }

                    .vpnp-notification-application-time {
                        margin: 0 0 0 10px;
                        display: inline;

                        font-size: $vnpn-pixel_4-notification-time-font-size;
                        color: $vnpn-pixel_4-notification-time-color;
                    }
                }
            }

            .vpnp-notification-content {
                margin-top: 10px;

                font-size: $vnpn-pixel_4-notification-content-font-size;
                color: $vnpn-pixel_4-notification-content-color;

                .vpnp-notification-title {
                    display: flex;
                    margin: 0;
                }
            }

            &.vpnp-notification-expanded-mode {

                .vpnp-notification-content {
                    font-size: $vnpn-pixel_4-notification-expanded-mode-content-font-size;

                    .vpnp-notification-title {
                        font-size: $vnpn-pixel_4-notification-expanded-mode-title-font-size;
                        font-weight: $vnpn-pixel_4-notification-expanded-mode-title-font-weight;
                    }

                    .vpnp-notification-body {
                        display: -webkit-box;
                        -webkit-line-clamp: $vnpn-pixel_4-notification-expanded-mode-line-clamp;
                        -webkit-box-orient: vertical;
                        overflow: hidden;

                        font-size: $vnpn-pixel_4-notification-expanded-mode-body-font-size;
                    }
                }
            }

            &.vpnp-notification-light-mode {
                &.vpnp-notification-expanded-mode {
                    .vpnp-notification-content {
                        color: $vnpn-pixel_4-notification-light-mode-and-content-color;

                        .vpnp-notification-title {
                            color: $vnpn-pixel_4-notification-light-mode-mode-title-color;
                        }

                        .vpnp-notification-body {
                            color: $vnpn-pixel_4-notification-light-mode-mode-body-color;
                        }
                    }
                }
            }

            &.vpnp-notification-dark-mode {
                background-color: $vnpn-pixel_4-notification-dark-mode-background-color;

                .vpnp-notification-heading {
                    color: $vnpn-pixel_4-notification-dark-mode-heading-color;

                    .vpnp-notification-application-icon {
                        background-color: $vnpn-pixel_4-notification-dark-mode-application-icon-background-color;
                    }
                }

                .vpnp-notification-content {
                    color: $vnpn-pixel_4-notification-dark-mode-content-background-color;
                }

                &.vpnp-notification-expanded-mode {
                    .vpnp-notification-content {
                        .vpnp-notification-body {
                            color: $vnpn-pixel_4-notification-dark-mode-and-expanded-mode-body-background-color;
                        }
                    }
                }
            }

        }
    }
}
