@import '../variables';

.vpnp-pixel_4 {
    font-family: sans-serif;

    .vpnp-header {
        position: absolute;
        height: 51%;
        width: 100%;
    }

    .vpnp-notification {
        position: absolute;
        top: 52%;
        left: 5.4%;

        width: 79.2%;
        min-height: 15px;
        height: auto;

        padding: 15px;
        border-radius: 5px;
        background-color: $white;

        .vpnp-heading {
            display: flex;
            align-items: center;

            font-size: 12px;
            color: #565656;

            .vpnp-application-icon {
                width: 15px;
                height: 15px;

                background-color: $black;
                border-radius: 50%;
            }

            .vpnp-application-name {
                margin-left: 10px;
            }

            .vpnp-application-time-container {
                margin-left: 10px;

                .vpnp-application-time-separator {
                    font-weight: bold;
                }

                .vpnp-application-time {
                    margin-left: 10px;
                }
            }
        }

        .vpnp-content {
            color: $black;
            font-size: 13px;
            margin-top: 10px;

            .vpnp-title {
                display: flex;
            }
        }

        &.vpnp-light-mode {
            &.vpnp-expanded-mode {
                .vpnp-content {
                    color: #3b3b3b;

                    .vpnp-title {
                        font-weight: bold;
                    }

                    .vpnp-body {
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
            }
        }

        &.vpnp-dark-mode {
            background-color: $black;

            .vpnp-heading {
                color: $white;

                .vpnp-application-icon {
                    background-color: $white;
                }
            }

            .vpnp-content {
                color: $white;
            }

            &.vpnp-expanded-mode {
                .vpnp-content {
                    .vpnp-title {
                        font-weight: bold;
                    }

                    .vpnp-body {
                        color: #e6e6e6;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
            }
        }

    }
}
