@import 'shared';

//-- CONTENT WRAPPER --//
$vnpn-iphone_x-content-width: 87%;
$vnpn-iphone_x-content-height: 100%;


//-- HEADER --//
$vnpn-iphone_x-header-width: 100%;
$vnpn-iphone_x-header-height: 30% !default;


//-- NOTIFICATION --//
$vnpn-iphone_x-notification-min-height: 35px !default;
$vnpn-iphone_x-notification-padding: 8px !default;
$vnpn-iphone_x-notification-border-radius: 9px !default;
$vnpn-iphone_x-notification-background-color: rgba(255, 255, 255, 0.9) !default;


//-- NOTIFICATION HEADING --//
$vnpn-iphone_x-notification-heading-font-size: 11px !default;
$vnpn-iphone_x-notification-heading-color: #676767 !default;


//-- NOTIFICATION APPLICATION ICON --//
$vnpn-iphone_x-notification-application-icon-width: 15px !default;
$vnpn-iphone_x-notification-application-icon-height: 15px !default;
$vnpn-iphone_x-notification-application-icon-background-color: $vnpn-black !default;
$vnpn-iphone_x-notification-application-icon-border-radius: 5px !default;


//-- NOTIFICATION TOGGLES --//
$vnpn-iphone_x-notification-toggler-cursor: pointer !default;


//-- NOTIFICATION CONTENT --//
$vnpn-iphone_x-notification-content-font-size: 12px !default;
$vnpn-iphone_x-notification-content-color: $vnpn-black !default;


//-- NOTIFICATION BODY --//
$vnpn-iphone_x-notification-body-line-clamp: 4 !default;


//-- NOTIFICATION CONTENT IMAGE --//
$vnpn-iphone_x-notification-content-image-min-width: 20%;
$vnpn-iphone_x-notification-content-image-height: 45px !default;
$vnpn-iphone_x-notification-content-image-border-radius: 5px !default;

//-- DARK MODE: NOTIFICATION --//
$vnpn-iphone_x-notification-dark-mode-color: rgba(53, 53, 53, 0.9) !default;


//-- DARK MODE: NOTIFICATION HEADING --//
$vnpn-iphone_x-notification-dark-mode-heading-color: #b1b1b1 !default;


//-- DARK MODE: NOTIFICATION APPLICATION ICON --//
$vnpn-iphone_x-notification-dark-mode-application-icon-background-color: $vnpn-white !default;


//-- DARK MODE: NOTIFICATION CONTENT --//
$vnpn-iphone_x-notification-dark-mode-content-color: $vnpn-white !default;


//-- EXPANDED SIZE: NOTIFICATION TITLE --//
$vnpn-iphone_x-notification-expanded-size-title-font-weight: bold !default;
