@import 'shared';

//-- CONTENT WRAPPER --//
$vnpn-pixel_4-content-width: 89%;
$vnpn-pixel_4-content-height: 100%;


//-- HEADER --//
$vnpn-pixel_4-header-width: 100%;
$vnpn-pixel_4-header-height: 45%;


//-- NOTIFICATION --//
$vnpn-pixel_4-notification-min-height: 15px;
$vnpn-pixel_4-notification-padding: 15px;
$vnpn-pixel_4-notification-border-radius: 5px;
$vnpn-pixel_4-notification-background-color: $white;


//-- NOTIFICATION HEADING --//
$vnpn-pixel_4-notification-heading-font-size: 12px;
$vnpn-pixel_4-notification-heading-color: #565656;


//-- NOTIFICATION APPLICATION ICON --//
$vnpn-pixel_4-notification-application-icon-width: 15px;
$vnpn-pixel_4-notification-application-icon-height: 15px;
$vnpn-pixel_4-notification-application-icon-background-color: $black;
$vnpn-pixel_4-notification-application-icon-border-radius: 50%;


//-- NOTIFICATION APPLICATION NAME --//
$vnpn-pixel_4-notification-application-name-font-size: $vnpn-pixel_4-notification-heading-font-size;
$vnpn-pixel_4-notification-application-name-color: $vnpn-pixel_4-notification-heading-color;


//-- NOTIFICATION TIME --//
$vnpn-pixel_4-notification-time-font-size: $vnpn-pixel_4-notification-heading-font-size;
$vnpn-pixel_4-notification-time-color: $vnpn-pixel_4-notification-heading-color;


//-- NOTIFICATION CONTENT --//
$vnpn-pixel_4-notification-content-font-size: 13px;
$vnpn-pixel_4-notification-content-color: $black;


//-- NOTIFICATION TITLE --//
$vnpn-pixel_4-notification-title-font-size: $vnpn-pixel_4-notification-content-font-size;
$vnpn-pixel_4-notification-title-color: $vnpn-pixel_4-notification-content-color;


//-- EXPANDED MODE: NOTIFICATION CONTENT --//
$vnpn-pixel_4-notification-expanded-mode-content-font-size: $vnpn-pixel_4-notification-content-font-size;


//-- EXPANDED MODE: NOTIFICATION TITLE --//
$vnpn-pixel_4-notification-expanded-mode-title-font-size: $vnpn-pixel_4-notification-expanded-mode-content-font-size;
$vnpn-pixel_4-notification-expanded-mode-title-font-weight: bold;


//-- EXPANDED MODE: NOTIFICATION BODY --//
$vnpn-pixel_4-notification-expanded-mode-body-font-size: $vnpn-pixel_4-notification-expanded-mode-content-font-size;
$vnpn-pixel_4-notification-expanded-mode-line-clamp: 4;


//-- LIGHT MODE: NOTIFICATION CONTENT --//
$vnpn-pixel_4-notification-light-mode-and-content-color: #3b3b3b;


//-- LIGHT MODE: NOTIFICATION TITLE --//
$vnpn-pixel_4-notification-light-mode-mode-title-color: $vnpn-pixel_4-notification-light-mode-and-content-color;


//-- LIGHT MODE & EXPANDED MODE: NOTIFICATION BODY --//
$vnpn-pixel_4-notification-light-mode-mode-body-color: $vnpn-pixel_4-notification-light-mode-and-content-color;


//-- DARK MODE: NOTIFICATION --//
$vnpn-pixel_4-notification-dark-mode-background-color: $black;


//-- DARK MODE: NOTIFICATION HEADING --//
$vnpn-pixel_4-notification-dark-mode-heading-color: $white;


//-- DARK MODE: NOTIFICATION APPLICATION ICON --//
$vnpn-pixel_4-notification-dark-mode-application-icon-background-color: $white;


//-- DARK MODE: NOTIFICATION CONTENT --//
$vnpn-pixel_4-notification-dark-mode-content-background-color: $white;

//-- DARK MODE & EXPANDED MODE: NOTIFICATION BODY --//
$vnpn-pixel_4-notification-dark-mode-and-expanded-mode-body-background-color: #e6e6e6;
