$iphoneX: url('../../public/img/iphone_x.png');
$pixel4: url('../../public/img/pixel_4.png');

.device {

    &.iphone_x {
        width: 300px;
        height: 614px;
        background-image: $iphoneX;
    }

    &.pixel_4 {
        width: 300px;
        height: 644px;
        background-image: $pixel4;
    }

}
